{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Caius Cooke's portfolio website. View Caius's works, about me, and contact information here."
    />
    <title>Caius Cooke Portfolio</title>
    <link rel="stylesheet" href="{% static 'portfolio/styles.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto+Mono:wght@100&family=Ubuntu:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav class="top-nav">
        <ul class="nav-list">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about-me' %}">About Me</a></li>
          <li><a href="{% url 'works' %}">Works</a></li>
          <li><a href="{% url 'musical-bingo' %}">Musical Bingo!</a></li>
        </ul>
      </nav>
    </header>
    <main class="wrapper">
      {% block inner_content %}{% endblock inner_content %}
    </main>
    <footer>Caius Cooke</footer>
  </body>
</html>
