{% extends 'portfolio/base.html' %}
<!-- prettier-ignore -->
{% load static %}
{% block inner_content %}
<link rel="stylesheet" href="{% static 'portfolio/worksstyles.css' %}" />
<section class="works">
  <h1>Works</h1>
  <div class="container">
    <div class="text">
      <h2>Musical Bingo and Portfolio</h2>
      <p>
        One of my favorite projects to date is this website! If you'd like to
        view the source code, check it out on my github. Don't forget to look at
        my Musical Bingo site as well!
      </p>
      <div class="skills">
        <h3>Skills used</h3>
        <ul role="list">
          <li>Python</li>
          <li>Django</li>
          <li>JavaScript</li>
          <li>HTML and CSS</li>
          <li>VS Code</li>
          <li>Git and Github</li>
          <li>Heroku</li>
        </ul>
      </div>
    </div>
    <figure class="images">
      <picture>
        <a href="https://github.com/caiuscooke/musicalbingo">
          <img
            src="{% static 'portfolio/images/portfolio-repo.png' %}"
            alt="Caius Cooke's github repo for this website"
          />
        </a>
      </picture>
      <figcaption class="caption">Click to view source on github</figcaption>
    </figure>
  </div>

  <div class="container">
    <div class="text">
      <h2>Unity Training</h2>
      <p>
        As part of my responsibilities at Code Wiz Durham, I was in charge of
        training all new staff. A lot of the teachers we onboarded had
        experience with C# or similar languages, but few had much knowledge of
        Unity. I took it upon myself to create a 62 page training course for
        those teachers. It was very well received, and helped the coaches get up
        to speed with a well-rounded introduction to Unity.
      </p>
      <div class="skills">
        <h3>Skills used</h3>
        <ul role="list">
          <li>C#</li>
          <li>Unity</li>
          <li>Visual Studio 2022</li>
          <li>Git and Github</li>
          <li>Leadership</li>
          <li>Teaching</li>
        </ul>
      </div>
    </div>
    <figure class="images">
      <picture>
        <a
          href="https://docs.google.com/document/d/12SKPhfbo7GlGrGMofGLH74Gr7qrMTDUIJTgUljaP2WA/edit?usp=sharing"
        >
          <img
            src="{% static 'portfolio/images/unity-training.png' %}"
            alt="Screenshot of the Unity training manual made by Caius Cooke"
          />
        </a>
      </picture>
      <figcaption class="caption">
        Click to view document on Google Docs
      </figcaption>
    </figure>
  </div>

  <div class="container special">
    <div class="text">
      <h2>Python, C#, and Unity Lessons</h2>
      <p>
        Of course, as the head of curriculum, I spent a great deal of time
        creating curriculum. I spent most of my time developing lessons for my
        Python, C# and Unity students. There are a few projects that I would
        guide my students through creating, and you can find those at my github
        as well.
      </p>
      <div class="skills">
        <h3>Skills used</h3>
        <ul role="list">
          <li>Python</li>
          <li>C#</li>
          <li>Unity</li>
          <li>VS Code</li>
          <li>Teaching</li>
          <li>Git and Github</li>
          <li>Visual Studio 2022</li>
          <li>Various py modules</li>
        </ul>
      </div>
    </div>
    <div class="gallery">
      <figure class="images">
        <picture>
          <a href="https://github.com/caiuscooke/TurtlePython">
            <img
              src="{% static 'portfolio/images/python-turtle.png' %}"
              alt="Screenshot of some of the lessons used to teach recursion at Code Wiz made by Caius Cooke"
            />
          </a>
        </picture>
        <figcaption class="caption">
          Recursion Lesson Plan - Click to view source
        </figcaption>
      </figure>
      <figure class="images">
        <picture>
          <a
            href="https://docs.google.com/document/d/1d1PYNuBLkjFCh6oGzdCrT14rog3_jbzVMuqAGLXuCxE/edit?usp=sharing"
          >
            <img
              src="{% static 'portfolio/images/python-hangman.png' %}"
              alt="Screenshot of a Python Project Caius made to teach Intro to Text Based Coding at Code Wiz"
            />
          </a>
        </picture>
        <figcaption class="caption">
          Intro to Text-based Python Project Plan - Click to view source
        </figcaption>
      </figure>
      <figure class="images span">
        <picture>
          <a href="https://github.com/caiuscooke/Hangman">
            <img
              src="{% static 'portfolio/images/csharp-hangman.png' %}"
              alt="Screenshot of the Hangman Game Caius made to teach C# at Code Wiz"
            />
          </a>
        </picture>
        <figcaption class="caption">
          Intro to Unity with C# Project Plan - Click to view source
        </figcaption>
      </figure>
      <figure class="span gif">
        <picture>
          <a href="#">
            <img
              src="{% static 'portfolio/images/unity-game.gif' %}"
              alt="Gif of the game Caius made for a camp lesson plan"
            />
          </a>
        </picture>
        <figcaption class="caption">
          Short gif showing the game Caius made for Code Wiz Camp
        </figcaption>
      </figure>
    </div>
  </div>
</section>
{% endblock inner_content %}
