[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
requests = "*"
djangorestframework = "*"
python-decouple = "*"
reportlab = "*"

[dev-packages]

[requires]
python_version = "3.11"
