{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '/css/app.css' %}" />
    <title>Musical Bingo Generator</title>
  </head>
  <body>
    <input type="text" id="submitURL" />
    <button type="button" onclick="onClick()">Click to Submit</button>
    <iframe
      id="displayPlaylist"
      style="border-radius: 12px"
      width="100%"
      height="352"
      frameborder="0"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"
    ></iframe>
    <script src="">
      function getURL() {
        let url = document.getElementById("submitURL").value;
        let comInd = url.indexOf(".com");
        let questInd = url.indexOf("?");
        const emb = "embed";
        const gen = "utm_source=generator";
        let newURL =
          url.slice(0, comInd + 4) +
          "/" +
          emb +
          url.slice(comInd + 4, questInd + 1) +
          "/" +
          gen;
        displayPlaylist = document.getElementById("displayPlaylist");
        displayPlaylist.src = newURL;
      }
    </script>
  </body>
</html>
