html {
  background-color: darkcyan;
}
.home-page {
  text-align: center;
}
.home-page h1 {
  margin: 50px 20px;
  font-size: 400%;
}
.home-page p {
  padding: 50px 80px;
  font-size: 2rem;
}
@media (max-width: 768px) {
  .home-page p {
    font-size: 1rem;
  }
}
.top-nav {
  display: flex;
  justify-content: center;
}
.top-nav a {
  text-decoration: none;
  font-size: 2rem;
  color: whitesmoke;
}
/* Add this to your 'styles.css' file or within a <style> tag in your HTML */
.playlist-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create 3 columns */
  gap: 20px; /* Add spacing between grid items */
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.generator {
  display: flex;
  justify-content: center;
}
.generator-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.generator-row li {
  flex: 1 0 auto;
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
}
.link {
  text-decoration: none;
  color: black;
  padding: 10px 10px;
}
