{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Musical Bingo Card Generator</title>
    <link rel="stylesheet" href="{% static 'playlistselector/styles.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Ubuntu:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav class="top-nav">
        <ul class="nav-list">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'playlist' %}">All Playlists</a></li>
          <li><a href="#">Contact</a></li>
          {% if user.is_authenticated %}
          <li>
            <a href="#" id="dropdown-trigger">Welcome {{ user.username }}</a>
            <div id="dropdown-menu" class="hidden">
              <ul>
                <li><a href="#">My Account</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </div>
          </li>
          {% else %}
          <li><a href="{% url 'login' %}">Log in</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main class="wrapper">{% block content %}{% endblock %}</main>
    <footer>
      <p>Caius Cooke</p>
    </footer>
    <script src="{% static 'playlistselector/app.js' %}"></script>
  </body>
</html>
