{% extends 'playlistselector/base.html' %}
<!-- prettier-ignore -->
{% load static %}
{% block content %} 
{% if track_names %}
<div class="generator">
  <ul class="generator-row">
    {% for name in track_names %}
    <li>{{ name }}</li>
    {% endfor %}
  </ul>
</div>
{% elif 'not allowed' in error %}
<p>{{ error }}</p>
{% url 'home' as home_url %}
<button
  class="delete-button"
  data-id="{{ playlist_id }}"
  onclick="handleDelete('{{ playlist_id }}', '{{ home_url }}','{{ csrf_token }}')"
>
  Delete Playlist
</button>
<!-- prettier-ignore -->
{% endif %} 
{% if delete_status and playlist_details %}
<div>
  <p>{{ delete_status }}</p>
  <p>{{ playlist_details }}</p>
</div>
<!-- prettier-ignore -->
{% endif %} 
{% endblock content %}
