{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Musical Bingo Card Generator</title>
    <link rel="stylesheet" href="{% static 'playlistselector/styles.css' %}" />
  </head>
  <body>
    <div class="top-nav">
      <a href="{% url 'home' %}">Click to go home</a>
    </div>
    {% if track_names %}
    <ul class="generator-row">
      {% for name in track_names %}
      <li>{{ name }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>
