{% extends 'playlistselector/base.html' %}
<!-- prettier-ignore -->
{% load custom_tags %}
{% block content %} 
{% with expires_at=request.session.a_t_expires_at %}
{% if not request.session.spotify_access_token or expires_at|has_expired %}
<script>
  var access_token_url = "{% url 'get_access_token' %}";
  fetch(access_token_url)
    .then((response) => response.json())
    .then((data) => {
      console.log("Access token retrieved:", data);
      location.reload;
    })
    .catch((error) => console.error("Error retrieving access token:", error));
</script>
<!-- prettier-ignore -->
{% endif %} 
{% endwith %}
{{ request.session.a_t_expires_at }}
<div class="home-page">
  <h1>Welcome!</h1>
  <p>
    This website was made to generate musical bingo cards for your event. Simply
    copy the link for a spotify playlist and let us do the rest!
  </p>
  <form method="post" action="{% url 'playlist' %}">
    {% csrf_token %}
    <div>
      <label for="id_playlist_url">Enter the playlist URL:</label>
      <input type="url" name="playlist_url" id="id_playlist_url" />
      <button type="submit">Submit</button>
    </div>
  </form>
  {% if status %}
  <p>{{ status }}</p>
  <!-- prettier-ignore -->
  {% endif %} 
  {% if embed_url %}
  <iframe
    style="border-radius: 12px"
    src="{{ embed_url }}"
    width="90%"
    height="352"
    frameborder="0"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"
  ></iframe>
  <!-- prettier-ignore -->
  {% endif %} 
  {% if id %}
  <br />
  <a class="link" href="{% url 'get_info' id=id %}"
    >Click to get the names of the playlist tracks</a
  >
  <!-- prettier-ignore -->
  {% endif %}
</div>
{% endblock %}
