{% extends 'playlistselector/base.html' %}
<!-- prettier-ignore -->
{% load static %}
{% block content %}
<div class="playlist-grid">
  {% for link, id in playlist_data %}
  <div class="grid-item">
    <iframe
      src="{{ link }}"
      frameborder="0"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"
    ></iframe>
    <form method="post" action="{% url 'get_info' id=id %}">
      {% csrf_token %}
      <label for="input_cards">How many unique cards would you like?</label>
      <input type="text" name="cards" id="input_cards" />
      <button type="submit">Get Pdfs</button>
    </form>
  </div>
  {% endfor %}
</div>
{% endblock content%}
