{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Musical Bingo Card Generator</title>
    <link rel="stylesheet" href="{% static 'playlistselector/styles.css' %}" />
  </head>
  <body>
    <div class="top-nav">
      <a href="{% url 'home' %}">Click to go home</a>
    </div>
    <div class="playlist-grid">
      {% for link, id in playlist_data %}
      <div class="grid-item">
        <iframe
          src="{{ link }}"
          frameborder="0"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"
        ></iframe>
        <a href="{% url 'get_info' id=id %}">Click to get track names</a>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
