{% extends 'playlistselector/base.html' %}
<!-- prettier-ignore -->
{% load static %}
{% block content %}
<div class="playlist-grid">
  {% for link, id in playlist_data %}
  <div class="grid-item">
    <iframe
      src="{{ link }}"
      height="100px"
      frameborder="0"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"
    ></iframe>
    <a href="{% url 'get_info' id=id %}">Click to get track names</a>
  </div>
  {% endfor %}
</div>
{% endblock content%}
