.wrapper {
  background-color: #e1eaec;
}
.about-me {
  display: flex;
  justify-content: center;
}
.container {
  width: clamp(20vw, 1200px, 90vw);
  font-family: "PT Sans", sans-serif;
  font-weight: 100;
  text-align: justify;
}
.about-me h1 {
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
.about-me img {
  width: 70%;
  height: auto;
  border-radius: 0.3em;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}
.header {
  grid-column: 2 / -1;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  border-radius: 0.3em;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  width: 80%;
  height: max-content;
  background-color: whitesmoke;
}
.header-text {
  text-align: left;
  margin-inline: 10px;
}
.google-anim {
  background-color: #333333;
  color: whitesmoke;
  width: 300px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin: 10px;
}
.google-anim p {
  margin-left: 10px;
  font-size: 16px;
}
.about-me-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-self: center;
  font-size: clamp(14px, 1vw, 20px);
}
@media (max-width: 768px) {
  .about-me-body {
    grid-template-columns: 1fr;
  }
}
.long-paragraph {
  grid-column: 1 / -1;
  gap: 10px;
}
.long-paragraph p {
  background-color: whitesmoke;
  padding: 15px;
  text-indent: 1em;
  border-radius: 0.3em;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}
